<h2 hidden>About</h2>
<div class="container">
  <section class="about">
    <img
      class="food-apple"
      src="./img/food/apple.jpg"
      alt="apple"
      width="396"
      height="502"
    />
    <h2 class="about-title">What’s Special About Our Offerings</h2>
    <p class="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="list">
      <li>
        <div class="icon-sta-rocket">
          <svg width="32px" height="32px" aria-label="rocket">
            <use href="./img/food-sta.svg#icon-rocket"></use>
          </svg>
        </div>
        <h3 class="advantage-title">Fasest Delivery</h3>
        <p class="advantage-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li>
        <div class="icon-sta-finger">
          <svg width="32px" height="32px">
            <use href="./img/food-sta.svg#icon-finger"></use>
          </svg>
        </div>
        <h3 class="advantage-title-1">Easy To Order</h3>
        <p class="advantage-text-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="button-secondary" type="button">Order Now</button>
  </section>
</div>
