<header class="page-header">
  <div class="container header-container">
    <a class="link" href="./index.html">
      <svg width="66px" height="52px" aria-label="logo">
        <use href="./img/food-sta.svg#icon-logo-food"></use>
      </svg>
    </a>
    <div class="wrap-header">
      <nav class="site-nav">
        <ul class="list nav-list">
          <li><a href="" class="link link-item-home">Home</a></li>
          <li><a href="" class="link link-item">About</a></li>
          <li><a href="" class="link link-item">Service</a></li>
          <li><a href="" class="link link-item">Menu</a></li>
          <li><a href="" class="link link-item">Contact</a></li>
        </ul>
      </nav>
      <button class="button" type="button">Order Now</button>
    </div>
  </div>
</header>
