<div class="container">
  <section class="hero-section">
    <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
    <img
      class="food"
      src="./img/food/food.jpg"
      alt="food"
      width="511"
      height="511"
    />
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="button" type="button">Order Now</button>
  </section>
</div>
