/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./root.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
